@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

:root {
    --font-primary: hsl(193, 38%, 86%);
    --font-primary-colorful: hsl(150, 100%, 66%);
    --background-tertiary: hsl(217, 19%, 38%);
    --background-secondary: hsl(217, 19%, 24%);
    --background-main: hsl(218, 23%, 16%);

    --arrow-size: 15px;
    --negative-arrow-size: -15px
}

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--background-main);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    background-color: var(--background-secondary);
    padding: 2.5rem 1.4rem;
    border-radius: .6rem;
    text-align: center;
    max-width: 500px;
}

.h1wrapper {
    margin-bottom: 1.6rem;
    position: relative;
}

.h1wrapper h1 {
    color: var(--font-primary-colorful);
    text-transform: uppercase;
    letter-spacing: 0.27rem;
    font-size: 0.62rem;
}

.next-buttons {
    display: flex;
    justify-content: center;
    gap: 5rem;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.arrowBtn {
    width: 0; 
    height: 0; 
    border-top: var(--arrow-size) solid var(--background-secondary);
    border-bottom: var(--arrow-size) solid var(--background-secondary);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 150ms;
}

.arrowBtn::after {
    content: '';
    position: absolute;
    top: 50%;
    background-color: var(--font-primary-colorful);
    transform: translateY(-50%);
    border-top: calc(var(--arrow-size)/2) solid var(--font-primary-colorful);
    border-bottom: calc(var(--arrow-size)/2) solid var(--font-primary-colorful);
    
    
}

.arrowBtn:hover {
    /* --font-primary-colorful: var(--font-primary); */
    opacity: .6;
}

.arrowBtn:active {
    --font-primary-colorful: var(--font-primary);
    opacity: 1;
}

[data-arrowBtn="Back"] {
    left: 0;
    border-right: var(--arrow-size) solid var(--font-primary-colorful);
}

[data-arrowBtn="Back"]::after {
    right: var(--negative-arrow-size);
    border-right: calc(var(--arrow-size)/2) solid var(--background-secondary);
}

[data-arrowBtn="Next"] {
    right: 0;
    border-left: var(--arrow-size) solid var(--font-primary-colorful);
}

[data-arrowBtn="Next"]::after {
    right: calc(var(--arrow-size)/2);
    border-left: calc(var(--arrow-size)/2) solid var(--background-secondary);
}

.container blockquote {
    font-size: 1.4rem;
    word-spacing: .1275rem;
    line-height: 1.5;
    margin-bottom: 1.3rem;
    color: var(--font-primary);
}

.container picture img{
    margin-bottom: 1.1rem;
}

.advice-button {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -2.1rem;
}

.advice-button button {
    background-color: var(--font-primary-colorful);
    padding: 1.17rem;
    border: none;
    border-radius: 50%;
    transition: all 150ms ease-in;
}

.advice-button button:hover {   
    background-color: var(--background-tertiary);
    cursor: pointer;
}

.advice-button__error {
    position: absolute;
    width: 200px;
    font-size: 14px;
    padding: .75rem 0;
    border-radius: .5rem;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-secondary);
    color: var(--font-primary);
    opacity: 0;
}


